var filters = {
  // 获取星灵综合计算结果
  xingLingZiZhiResult: function (data, chengzhangdangci) {
    console.log(data, chengzhangdangci)
    _dangci = [
      {
        type: '不模拟',
        PCT: 0
      },
      {
        type: '2档',
        PCT: 0.01
      },
      {
        type: '3档',
        PCT: 0.02
      },
      {
        type: '4档',
        PCT: 0.03
      },
      {
        type: '5档',
        PCT: 0.04
      },
      {
        type: '6档',
        PCT: 0.06
      },
      {
        type: '7档',
        PCT: 0.08
      },
      {
        type: '8档',
        PCT: 0.10
      },
      {
        type: '9档',
        PCT: 0.12
      },
      {
        type: '10档',
        PCT: 0.15
      },
      {
        type: '11档',
        PCT: 0.20
      }
    ]
    console.log(_dangci[parseInt(chengzhangdangci - 1)].PCT)
    var _pct = _dangci[parseInt(chengzhangdangci - 1)].PCT
    if (_pct !== 0) {
      return data + '+' + _pct
    } else {
      return data
    }
  },
  // 获取星灵评级的名称
  xingLingPinZhiName: function (num) {
    var _num = parseInt(num)
    var _pingji = ''
    switch (_num) {
      case 0:
        _pingji = '普通'
        break
      case 1:
        _pingji = '优良'
        break
      case 2:
        _pingji = '精致'
        break
      case 3:
        _pingji = '传说'
        break
      case 4:
        _pingji = '神工'
        break
      case 5:
        _pingji = '逆天'
        break
    }
    return _pingji
  },
  // 获取星灵评级图标
  xingLingPinZhiIcon: function (num) {
    // console.log(num)
    var _num = parseInt(num)
    var _pinzhiicon = ''
    switch (_num) {
      case 0:
        _pinzhiicon = ''
        break
      case 1:
        _pinzhiicon = 'text-green'
        break
      case 2:
        _pinzhiicon = 'text-blue'
        break
      case 3:
        _pinzhiicon = 'text-mauve'
        break
      case 4:
        _pinzhiicon = 'text-yellow'
        break
      case 5:
        _pinzhiicon = 'text-red'
        break
    }
    return _pinzhiicon
  },
  // 时间过滤器
  dateFilter: function(date, filter) {
    var _date = getDate(date)
    var Y = _date.getFullYear()
    var M = _date.getMonth() + 1
    var D = _date.getDate()
    var h = _date.getHours()
    var m = _date.getMinutes()
    var s = _date.getSeconds()

    switch (filter) {
      case 'YYYY-MM-DD':
        return Y + '-' + M + '-' + D
      default:
        return Y + '-' + M + '-' + D + '-' + h + '-' + m + '-' + s
    }
  }
}


module.exports = {
  xingLingPinZhiName: filters.xingLingPinZhiName,
  xingLingPinZhiIcon: filters.xingLingPinZhiIcon,
  dateFilter: filters.dateFilter,
  xingLingZiZhiResult: filters.xingLingZiZhiResult
}